/* 
----------------------------------------------
----------------------- RESET ----------------
----------------------------------------------
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* 
----------------------------------------------
----------------------- My CSS ---------------
----------------------------------------------
 */

body, html {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
}

/* 
----------------------------------------------
----------------------- FIRST PAGE -----------
----------------------------------------------
 */

.container-first-page {
  background-image: url('/assets/images/shubham-dhage-1_YIwzXsWvo-unsplash.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
}

/* 
----------------------------------------------
----------------------- HEADER ---------------
----------------------------------------------
 */

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  background-color: #000000;
  padding: 5px 10px 10px;
  text-align: center;
  z-index: 10;
}

header a h1 {
  text-align: center; 
  font-family: 'Jolly Lodger', sans-serif;
  font-size: 2.5em;
  font-weight: lighter;
  color: #ffffff;
}

a h1 {
  display: inline;
  color: inherit;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* 
----------------------------------------------
----------------------- HAMBURGER MENU -------
----------------------------------------------
 */

.hamburger {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  position: fixed;
  left: 10px;
  top: 15px;
  z-index: 8;
  pointer-events: none;
}

.hamburger span {
  display: block;
  width: 28px;
  height: 5px;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 4px;
}

.check-box {
  position: fixed;
  left: 10px;
  top: 15px;
  z-index: 9;
  width: 35px;
  height: 35px;
  opacity: 0;
}

.check-box + .menu .hamburger {
  transition: transform 250ms;
}

.check-box:hover + .menu .hamburger {
  transform: translateX(5px);
}

.check-box:checked + .menu .hamburger span {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.check-box:checked + .menu .hamburger span:nth-child(2) {
  opacity: 0;
  bottom: 15px;
}

.check-box:checked + .menu .hamburger span:nth-child(1) {
  transform: rotate(45deg);
  bottom: 15px;
}

.check-box:checked + .menu .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 15px;
}

/* 
----------------------------------------------
----------------------- NAVIGATION -----------
----------------------------------------------
 */

.navigation {
  position: fixed;
  top: 59px;
  left: 0;
  background-color: rgb(235, 255, 0);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}

.check-box:checked + .menu .navigation {
  top: 59px;
  visibility: visible;
  opacity: 1;
}

ul {
  margin: 0;
  padding: 0;
  gap: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Jolly Lodger', sans-serif;
  font-size: 3.5em;
  text-transform: uppercase;
}

/* 
----------------------------------------------
----------------------- TEXT-BOX -------------
----------------------------------------------
 */

.container-box {
  position: absolute;
  top: 40%;
  left: 50%;
  max-height: 500px;
  max-width: 500px;
  transform: translate(-50%, -50%);
  background-color: rgba($color: #000000, $alpha: 0.5);
  box-shadow: 0 0 8px 8px rgba($color: #000000, $alpha: 0.5);
  text-align: center;
  padding: 20px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  overflow: hidden;
  }

.container-box h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 550;
  color: white;
  }

/* 
----------------------------------------------
----------------------- SECOND PAGE ----------
----------------------------------------------
 */

.first-article {
  background-image: url('/assets/images/shubham-dhage-1_YIwzXsWvo-unsplash.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  position: relative;
  z-index: 0;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 10px;
}

.first-article::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none; 
  z-index: 1;
}

.first-article > * {
  position: relative;
  z-index: 2;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-one {
  // text-align: start;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: 0.9em;
  font-weight: lighter;
  line-height: 1.6;
  margin-bottom: 20px;
  opacity: 0.8;
}

.img-one {
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  margin-top: 10px;
  border-radius: 8px;
  height: 280px;
  width: 180px;
}

/* 
----------------------------------------------
----------------------- MEDIA-QUERIES --------
----------------------------------------------
 */

@media screen and (max-width: 480px) {
  .logo-desktop {
    display: none;
  }

  .second-article {
    display: none;
  }

  aside {
    display: none;
  }

  footer {
    display: none;
  }
  
}